body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #005599;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003366;
    min-width: 160px;
    top: 100%; /* Aparece debajo del botón */
    left: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 12px 16px;
    text-decoration: none;
    color: white;
}

nav ul li .dropdown-content li a:hover {
    background-color: #0077cc;
}

nav ul li:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

.section-hidden {
    display: none;
}

h2 {
    color: #003366;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
